html{

}



head{
    
}



body {
    background: rgb(218, 181, 181);
    margin-left: 100px;
    
}


h1 {
    color: rgb(22, 18, 18);
    
}



h2{
    
}



p{
    font-size: 18px;
}



.menu_direita{
    margin-left: 0px;
}